.profile-card {
    min-width: 400px;
    margin: 20px auto;
    
}

.profile-card-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 800px;
}

.profile-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}